<header class="header-library">
  <div class="container">
    <nav class="nav nav--top__step">
      <div class="iconteka">
        <svg width="24px" height="24px">
          <use href="./images/icons.svg#icon-film"></use>
        </svg>
      </div>
      <a class="logo" href="./index.html">Filmoteka </a>

      <ul class="nav__list">
        <li class="nav__item nav__item--margright">
          <a class="nav__link" href="./index.html">home</a>
        </li>
        <li class="nav__item nav__item">
          <a class="nav__link nav__link--current" href="*">my library</a>
        </li>
      </ul>
    </nav>
  </div>
  <div class="container library-filter--logout visually-hidden">
    <button id="logout" class="library-filter-btn" type="button">logout</button>
  </div>
  <div class="container library-filter visually-hidden">
    <button id="watched" class="library-filter-btn" type="button">
      watched
    </button>
    <button id="queue" class="library-filter-btn" type="button">queue</button>
  </div>
  <div class="container library-filter--logedout">
    <p class="errorText errorText--topPad">
      You are logged out. Please login to use the library functions!
    </p>
    <button id="login" class="library-filter-btn" type="button">
      signin or login
    </button>
  </div>
</header>
